<launch>
  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
<!--  <arg name="launch_prefix" default="gdb -e run &#45;&#45;args" /> &lt;!&ndash; set to value="gdbserver localhost:10000" for remote debugging &ndash;&gt;-->
  <arg name="nodelet_manager" default="apriltag_nodelet_manager" />
  <arg name="apriltag_localization_name" default="apriltag_localization_node" />
  <arg name="cam_config"  default="$(find apriltag_localization)/config/"/>
  <arg name="odom_topic"  default="/jarvis/odom"/>

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen" launch-prefix="$(arg launch_prefix)" />
  <node pkg="nodelet" type="nodelet" name="$(arg apriltag_localization_name)" args="load apriltag_localization/ApriltagLocalization $(arg nodelet_manager)"
        clear_params="true" output="screen" >

    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="odom"  to="$(arg odom_topic)"/>
    <!-- Set parameters -->
    <rosparam command="load" file="$(find apriltag_localization)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_localization)/config/tags.yaml"/>
    <param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
    <param name="cam_config" type="string" value="$(arg cam_config)" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_pub_node" args="load apriltag_localization/ImageNodeLet $(arg nodelet_manager)"
        clear_params="true" output="screen">

    <!-- Remap topics from those used in code to those on the ROS network -->
<!--    <remap from="odom"  to="$(arg odom_topic)"/>-->
    <!-- Set parameters -->
    <param name="cam_config" type="string" value="$(arg cam_config)" />
  </node>

</launch>
